<header class="sticky top-0 flex justify-between items-center px-8 py-4 bg-white/80 backdrop-blur z-50">
  <h1 class="text-primary text-lg font-black">Newic Vidéo</h1>
  <nav aria-label="primary">
    <ul class="flex gap-8 font-medium">
      <li>
        {% include "components/link.twig" with {'href': site.url ~ "/realisations/", 'content': 'Réalisations'} %}
      </li>
    </ul>
  </nav>
</header>
