{% extends "base.twig" %}

{% block content %}
  {# header #}
  {% include "layout/header.twig" %}
  <main class="contact max-w-screen-2xl mx-auto flex flex-col gap-8 w-full p-8 pt-4">
    <div class="border rounded-xl h-60"></div>
    <div class="grid grid-cols-[2fr_1fr] gap-8">
      {% include "pages/contact/contact-form/contact-form.twig" %}
      <div class="border rounded-xl"></div>
    </div>
    <div class="grid grid-cols-[1fr_2fr] gap-8">
      <div class="border rounded-xl"></div>
      <div id="map" class="h-96"></div>
    </div>
  </main>
{% endblock %}
