{% extends "base.twig" %}

{% block content %}
  {# header #}
  {% include "layout/header.twig" %}
  <main class="all-projects flex flex-col gap-8 p-8">
    <h1 class="text-2xl font-bold">{{ post.title }}</h1>
    <form class="search-projects relative flex items-center border">
      <input type="text" name="search" id="search" placeholder="Rechercher" class="p-2 w-full">
      <button type="submit" class="absolute top-0 right-0 p-2">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="#e5e7eb" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
        </svg>
        <span class="sr-only">Rechercher</span>
      </button>
    </form>
    <p>{{ post.intro }}</p>
    {% if projects and projects|length > 0 %}
      {# filters #}
      {% include "pages/all-projects/filters/filters.twig" %}
      <div
        class="grid grid-cols-4 gap-8">
        {# projects list #}
        {% include "pages/all-projects/projects-list/projects-list.twig" with {'project': project} %}
      </div>
    {% else %}
      <p>Aucune réalisation pour le moment.</p>
    {% endif %}
  </main>
{% endblock %}
