<div>
  <input type="radio" name="filter" id="{{ value }}" value={{ value }} class="peer sr-only">
  <label for="{{ value }}" class="cursor-pointer inline-block px-2 py-1 border border-black leading-none peer-checked:bg-primary-light peer-focus-visible:ring-2 peer-focus-visible:ring-primary peer-focus-visible:ring-offset-2">
    <span>{{ label }}</span>
  </label>
</div>
