{% extends "base.twig" %}

{% block content %}
  {# header #}
  {% include "layout/header.twig" %}
  <main class="estimate grow flex flex-col max-w-screen-2xl mx-auto p-8 pt-4 w-full">
    <form action="" class="form grow flex flex-col gap-2 border rounded-xl w-full h-full p-8 overflow-auto">
    <p class="intro flex flex-col gap-2">
      {% for item in post.intro %}
        <span class="popup inline-block border rounded-xl px-6 py-2 w-fit">{{ item.popup|no_p_tags }}</span>
      {% endfor %}
    </p>
    <div class="flex flex-col gap-12">
      {% for item in post.meta('form') %}
        {% set hidden_class = loop.first ? '' : 'hidden' %}
        {% set is_last = loop.last %}
        {% if item.acf_fc_layout == 'input' %}
          {% include "pages/estimate/form/input.twig" with {'item': item, 'hidden_class': hidden_class} %}
        {% elseif item.acf_fc_layout == 'checkboxes' %}
          {% include "pages/estimate/form/inputs-group.twig" with {'item': item, 'hidden_class': hidden_class, 'input_type': 'checkbox',
          'inputs': item.checkboxes, 'has_submit_field': true, 'has_error_message': true} %}
        {% elseif item.acf_fc_layout == 'radio_buttons' %}
          {% include "pages/estimate/form/inputs-group.twig" with {'item': item, 'hidden_class': hidden_class, 'input_type': 'radio', 'inputs': item.radio_buttons} %}
        {% endif %}
      {% endfor %}
      <p class="submit-loader hidden">Envoi en cours...</p>
      <p class="submit-message hidden"></p>
    </div>
  </form>
</main>
{% endblock %}
